.action-form{
    display: none;
}

.add-action-plan .left-form, .add-action-plan .right-form{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    margin: 0;
    min-height: 500px;
}

.add-action-plan>div:first-child{
    padding-right: 5px;
}
.add-action-plan .suggestions{
    margin-top: 10px;
}

.add-action-plan .suggestions li{
    background: #fafafa;
    padding: 0;
    margin-bottom: 4px;
}

.add-action-plan .title{
    border: none;
    box-shadow: none;
    font-size: 26px;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 300;
}

.action-plan{
    clear: both;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    padding: 0px;
    border-radius: 6px;
    background: #fff;
    min-height: 60px;
    margin-bottom: 6px;
    padding: 12px 0 0;
}

.action-plan .due-date{
    border: 1px solid #999;
    border-radius: 20px;
    padding: 3px 10px;
    margin-right: 5px;
}

.submit-action-plan{
    position: absolute;
    bottom: 15px;
    left: 30px;
}

.badges{
    display: inline-block;
    margin-right: 14px;
}

.action-plan.table thead tr th{
    padding: 15px;
    color: #3e566c;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.action-plan.table tbody tr td{
    padding: 10px 15px 15px;
    border-top: 1px solid #eee;
}

.action-plan.table tbody tr td p{
    margin: 10px 0 0 0;
}

.action-plan.table a{
    color: #333;
}

.edit-action{
    margin-top: 8px;
    text-align: center;
}

.edit-action form{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.edit-action form .form-group{
    margin: 5px 0;
}

.edit-action .dropdown-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
}


.action-plan-info p{
    margin-top: 12px;
    display: inline-block;
}

.action-item-container{
    background: #fff;
    margin: 0 0 10px;
    border-top: 1px solid #eee;
    clear: both;
}

.action-item-list{
    margin: 4px 0 0 15px;
    padding: 5px 0 1px 0;
    cursor: pointer;
}

.action-item-list>div{
    clear:both;
}

.action-item-list p>i{
    color: #ccc;
    padding-right: 2px;
}

.action-item-list img{
    width: 24px;
}

.remove-action-item, .resolve-action-item{
    display: none;
}

.action-item:hover .remove-action-item,
.action-item:hover .resolve-action-item{
    display: inline-block;
}

.action-item .done{
    text-decoration: line-through;
    opacity: 0.4;
}

#cxDropdown{
    width: 100%;
    text-align: left;
    background: #fff;
}

.cx-dropdown{
    height: 350px;
    width: 100%;
    overflow-y: auto;
}

.cx-dropdown ul li{
    padding: 5px 10px;
}

.cx-dropdown ul li i{
    width: 16px;
    height: 16px;
    background: red;
    border-radius: 20px;
    color: #fff;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
}

.cx-dropdown ul li.positive i{background: #20aa43;}
.cx-dropdown ul li.neutral i{background: #fbab2d;}
.cx-dropdown ul li.negative i{background: #ad1616;}

.cx-dropdown ul li.positive i:before{content: "\f005";}
.cx-dropdown ul li.neutral i:before{content: "\f0ad";}
.cx-dropdown ul li.negative i:before{content: "\f12a";}

.custom-checkbox label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.custom-checkbox input[type="checkbox"]:empty {
  display: none;
}

.custom-checkbox input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 28px;
    text-indent: 25px;
    padding: 3px;
    margin: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 15px;
    height: 15px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.custom-checkbox input[type="checkbox"]:checked ~ label {
    color: #777;
    text-decoration: line-through;
}

.custom-checkbox input[type="checkbox"]:checked ~ label:before {
    content: '\f00c';
    text-indent: 2px;
    font-family: FontAwesome;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    background-color: #1c262f;
    border: none;
}

.custom-checkbox input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.suggestion-list{
    padding: 0 0 0 50px;
}

.suggestion-list .suggestion-item{
    padding: 20px 0;
    min-height: 100px;
    border-bottom: 1px solid #eee;
}

.suggestion-item .add-to-list{
    display: none;
    color: #ae276a;
}

.suggestion-item:hover .add-to-list{
    display: block;
}

.people-list{
    margin-top: 5px;
}

.people-list li, .participant-list li{
    display: inline-block;
    padding: 0 2px 4px 0;
}

.participant-list li img{
    width: 30px;
    margin-bottom: 0;
}

.add-milestone{
    position: absolute;
    right: 20px;
    z-index: 99;
}

.milestone{
    clear: both;
    border-left: 1px solid #eee;
    margin-left: 6px;
    padding-bottom: 40px;
}

.milestone-marker{
    margin-left: -6px;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.25);
}

.comments-list{
    overflow: auto;
}

.comment{
    margin: 10px 0;
}

.comment .avatar{
    float: left;
    width: 24px;
    margin-right: 5px;
}