.cx-journey-container {
    height: 380px;
    overflow-x: auto;
    margin: 10px;
}

.cx-module{
    padding: 15px;
}

.cx-module h4 {
    padding: 10px;
}

.cx-journey {
    margin: auto;
    padding: 10px;
    height: 100%;
    padding-top: 40px;
}

.cx-journey.new-vehicle{
    width: 1100px;
}

.cx-journey.after-sales{
    width: 1200px;
}

.cx-step {
    height: 65px;
    width: 65px;
    background: #999;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border: 6px solid #aaa;
    color: #fff;
    transition: 0.4s;
    position: relative;
    box-shadow: 3px 4px 7px #ccc;
    float: left;
    margin-left: 22px;
    cursor: pointer;
}

.cx-step-label {
    color: black;
    margin-top: 20px;
    font-size: 8pt;
    width: 100px;
    margin-left: -20px;
    overflow: visible;
}
.cx-step:hover {
    border-color: #999;
    background-color: #aaa;
}

.cx-step-popup {
    position: absolute;
    padding: 5px;
    color: #444;
    top: 0px;
    left: 75px;
    background: rgba(220,220,220,0.9);
    min-height: 300px;
    width: 300px;
    z-index: 99;
    transition: 1s;
    border: 1px solid #eee;
}

.cx-step-popup:after {
    content:'';
    height: 0;
    width: 0;
    border-width: 20px 20px 20px 0;
    border-style: solid;
    border-color: rgba(255,255,255,0) rgba(220,220,220,0.9) rgba(255,255,255,0) rgba(255,255,255,0);
    position: absolute;
    top: 5px;
    left: -13px;
}

.negative .cx-step-popup {
    top: -200px;
}

.negative .cx-step-popup:after  {
    top: 200px;
}

.neutral .cx-step-popup {
    top: -90px;
}

.neutral .cx-step-popup:after  {
    top: 90px;
}

.step-index-8 .cx-step-popup,
.step-index-9 .cx-step-popup,
.step-index-10 .cx-step-popup,
.step-index-11 .cx-step-popup 
{
    left: -320px;
}

.step-index-8 .cx-step-popup:after,
.step-index-9 .cx-step-popup:after,
.step-index-10 .cx-step-popup:after,
.step-index-11 .cx-step-popup:after 
{
    border-width: 20px 0px 20px 20px;
    border-color: rgba(31, 31, 31, 0) rgba(221, 221, 221, 0) rgba(234, 14, 187, 0) #ddd;
    left: 290px;
    z-index: -1;
}

.cx-step.positive {
    border-color: rgb(32, 170, 67);
    background-color: rgb(15, 140, 63);
   
}

.cx-step.positive:hover {
    background-color: rgb(32, 170, 67);
    border-color: rgb(15, 140, 63);
}

.cx-step.negative {
    background-color: rgb(173, 22, 22);
    border-color: rgb(201, 50, 50);
     top: 190px;
}

.cx-step.negative:hover {
    border-color: rgb(173, 22, 22);
    background-color: rgb(201, 50, 50);
}

.cx-step.neutral {
    background-color: rgb(164, 93, 9);
    border-color: rgb(196, 111, 11);
    top: 90px;
}

.cx-step.neutral:hover {
    border-color:  rgb(164, 93, 9);
    background-color: rgb(196, 111, 11);
}

.cx-step-icon {
    font-size: 25px;
    margin-top: 6px;
}

.cx-step-icon img {
    height: 35px;
}

.cx-index-items {
    clear: both;
    margin-top: 10px;
    height: 280px;
    overflow: auto;

}

.cx-index-item {
    padding: 10px 10px;
    margin: 5px;
    background: #fff;
    text-align: left;
    font-size: 10pt;
    transition: 0.3s;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.cx-index-item .index-icon {
    width: 15px;
}

.cx-index-item .index-score {
    float: right;
    font-weight: bold;
    font-size: 11pt;
}

.cx-index-item .index-badges {
    text-align: left;
    margin-bottom: 10px;
}
.cx-index-item .index-badge {
    background: #dddddd;
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 3px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.cx-index-item .index-label {
    font-size: 9pt;
}
.cx-index-item .index-health{
    width: 25px;
    height: 25px;
    position: relative;
    padding: 3px 10px;
    border-radius: 50%;
    color: #fff;
    float: right;
    top: -15px;
    right: -20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.cx-index-item.positive .index-badge.health {
    color: #fff;
    background-color: rgb(32, 170, 67);
}

.cx-index-item.neutral .index-badge.health {
    color: #fff;
    background-color: rgb(164, 93, 9);

}

.cx-index-item.negative .index-badge.health {
    color: #fff;
    background-color: rgb(173, 22, 22);
}

.cx-index-item.positive .index-badge.health>.fa:before{
    content: "\f005";
}
.cx-index-item.neutral .index-badge.health>.fa:before{
    content: "\f0ad";
}

.cx-index-item.negative .index-badge.health>.fa:before{
    content: "\f12a";
}

.cx-index-item {
    margin-top: 10px;
}

.cx-index-item:hover {
    background: #fefefe;
}

.cx-index-item.negative .index-health{
    background: #ea3037;
}

.cx-index-item.positive .index-health{
    background: #24983c;
}

.cx-index-item.neutral {
    border-color:  rgb(164, 93, 9);
}

.cx-step-popup-close {
    float: right;
    cursor: pointer;
}

.cx-journey-decorator {
    padding: 15px;
    padding-right: 30px;
}
.cx-journey-decorator>div {
    height: 30px;
    background: #f1f1f1;
    padding-left: 25px;
    font-size: 20px;
}

.cx-journey-decorator>div:after {
    content:'';
    height: 0;
    width: 0;
    border-width: 15px 0px 15px 15px;
    border-style: solid;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #f1f1f1;
    position: absolute;
    right: 30px;
}


.cx-journey-decorator>div:before {
    content:'';
    height: 0;
    width: 0;
    border-width: 15px 0px 15px 15px;
    border-style: solid;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #fff;
    position: absolute;
    left: 30px;
}


.step-animated.ng-enter {
  transition:0.5s linear all;
  opacity:0;
  transform: translateY(-80px);
}

.step-animated.ng-enter-stagger {
  transition-delay: 0.3s;
  transition-duration: 0s;

}

.step-animated.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0);
}

.cx-index-item .step-badge {
    background: #424242;
    color: #fff!important;
}

@media (max-width: 768px) {

    .cx-journey {
        margin: auto;
        width: 320px;
    }

    .cx-journey-container {
        height: inherit;
        margin:2px;
    }

    .cx-step {
        float: none;
        margin-bottom: 10px;
        width: 60px;
        height: 60px;
    }

    .cx-step-icon img {
        height: 30px;
    }

    .cx-step.positive {
        top: inherit;

    }

    .cx-step.neutral {
        top: inherit;
        margin-left: 40%;
    }

    .cx-step.negative {
        top: inherit;
        margin-left: 75%;
    }

    .cx-step-popup {
        position: fixed;
        top: 90px!important;
        width: 90%;
        margin: auto;
        left: 20px!important;
        right: inherit!important;
    }

    .cx-step-popup:after {
        display: none;
    }

    .cx-journey-decorator {
        display: none;
    }

    .cx-step-label {
        margin-left: 55px;
        margin-top: -33px;
        text-align: left;
        padding: 5px;
        background: #eee;
    }

    .negative .cx-step-label {
        margin-left: -108px;
        text-align: right;
    }

    .step-animated.ng-enter {
      transition:0.5s linear all;
      opacity:0;
      transform: translateX(-80px);
    }
}