#container {
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:white;
}

#label1 {
    left:329px;
    top:105px;
    width:90px;
}

#label2 {
    left: 988px;
    top: 355px;
    width: 150px;
}

div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
    -webkit-user-select:none;
    -moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
}

.tree {
     pointer-events: none;
}

#content {
    position:relative;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
}
