a, a:visited, a:focus, a:hover{
  text-decoration: none !important;
}

.helpdesk {
  position: relative;
  padding: 20px;
}

.helpdesk:after {
  content: "";
  display: table;
  clear: both;
}

.helpdesk-categories {
  float: left;
  position: absolute;
  top: 125px;
  left: 20px;
  width: 180px;
  padding: 8px 20px 10px;
  z-index: 1;
}

.helpdesk-categories a{
  font-size: 16px;
  line-height: 26px;
  color: #4698cb;
}

.helpdesk-categories a:hover{
  font-size: 18px;
}

.helpdesk-items {
  position: static;
  height: auto;
  width: 100%;
  padding-left: 220px;
  float: right;
  overflow: visible;
  -webkit-transform: translateZ(0) translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  background: transparent;
  z-index: 2;
}

.helpdesk-group .helpdesk-trigger {
  position: relative;
  display: block;
  line-height: 1.2;
  color: #4698cb;
  background: #ffffff;
  padding: 10px 0;
  margin-bottom: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.helpdesk-group .helpdesk-trigger:hover {
  box-shadow: 0 1px 10px rgba(108, 125, 142, 0.2);
}

.helpdesk-group .helpdesk-trigger .panel-body{
  border: none !important;
}

.helpdesk-group .helpdesk-trigger .panel-title{
  font-size: 18px !important;
}

.helpdesk-group .helpdesk-title {
  margin: 2em 0 1em;
}

.helpdesk-group:first-child .helpdesk-title {
  margin-top: 0;
}

.helpdesk-group.selected {
  display: block;
}

.helpdesk-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  color: #333;
}

.helpdesk-content{
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}

.helpdesk-content .heading{
  font-size: 16px;
  color: #4698cb;
  margin-top: 20px;
  margin-bottom: 5px;
}

.helpdesk-content .sub-heading{
  margin-top: 20px;
  margin-bottom: 5px;
}

.helpdesk-content .questions li{
  font-style: italic;
  margin-left: 15px;
}

.helpdesk-search{
  padding: 20px;
}

.helpdesk-search h1{
  margin: 0 0 10px;
}

.helpdesk input{
  border: 1px solid #eee;
  border-radius: 0;
  color: #7f8c8d;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  min-width: 100%;
  padding: 12px 43px 12px 15px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

@media only screen and (max-width: 768px) {

  .easy-autocomplete{
    width: 90% !important;
  }
}