/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ZOOP STYLES START HERE */

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background: #fafbfc;
    overflow: hidden;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a, a:hover{
    color: #1f140e;
}

.c-universe {
    height: 100%;
}

.c-side-menu {
    width: 100px;
    background: rgb(28, 38, 47);
    height: 100%;
    float: left;
}

.c-side-menu>.brand {
    height: 60px;
    padding: 10px;
    text-align: center;
}

.c-side-menu .app-logo{
    width: 70px;
}

.c-side-menu .menu-item {
    text-align: center;
    padding: 20px;
}

.c-side-menu .menu-item.active {
    background: #435a6f;
}

.c-side-menu>.bottom {
    position: absolute;
    bottom: 0;
    width: inherit;
}

.c-side-menu .menu-item>a {
    font-size: 20px;
    color: #fff;
    text-shadow: #000 1px 2px 4px;
}

.c-top-bar{
    background: #fff;
}

.c-top-bar .navbar-collapse{
    height: 60px;
    background: #fff;
}

.c-top-bar .title {
    margin-top: 11px;
    margin-left: 25px;
    font-size: 16px;
    display: inline-block;
}

.c-top-bar .title small{
    display: block;
    line-height: 10px;
}

.c-top-bar .navbar-right{
    margin-right: 10px;
}

.c-top-bar .navbar-right li a.dropdown-toggle{
    padding: 15px 10px;
    height: 60px;
}

.c-main {
    margin-left: 100px;
    overflow: hidden;
    height: 100%;
}

.c-content {
    padding: 15px;
    margin: auto;
    max-width: 85em;
    margin-top: 15px;
}

.c-panel-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #1c262f;
    font-size: 10pt;
    font-weight: bold;
}

.c-panel {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    padding: 0px;
    border-radius: 6px;
    background: #fff;
    min-height: 300px;
    margin-bottom: 15px;
}

.c-panel-back {
    float: right;
    display: none;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    color: #aaa;
    transition: 0.6s;
    cursor: pointer;
}

.c-panel-back>i:after{
    content: "\f104";
}

.c-panel-back:hover {
    text-decoration: none;
}


.c-panel .c-title {
    font-weight: bold;
    text-transform: uppercase;
}

.c-main-health {
    width: 100%;
    color: #1a1f32;
    text-align: center;
    transition: 0.4s;
    float: left;
    border-radius: 6px;
}

.c-main-health-inner{
    display: block;
    height: 200px;
}

.c-main-health .gauge{
    padding: 10px 25px;
    position: absolute;
    width: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.c-main-health .gauge img{
    width: 100%;
}

.c-main-health .gauge-text{
    position: absolute;
    width: 250px;
    text-align: center;
    margin: 60px auto 0;
    left: 0;
    right: 0;
}

.c-main-health .gauge-text-right{
    padding: 65px 0 0 260px;
    text-align: left;
}

.c-main-health .title{
    margin-top: -10px;
}

.c-main-health .score{
    display: block;
    font-size: 50px;
    font-weight: 300;
}

.know-more {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14pt;
}


.c-master-class .master-link{
    margin: 5px;
    height: 200px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: #f9f9f9;
    border-radius: 5px;
    transition: 0.4s;
    display: block;
    text-decoration: none!important;
}

.c-master-class .master-link img{
    margin: 35px auto 10px;
}

.c-master-class .master-link p{
    font-size: 13px;
    text-transform: uppercase;
    color: #888;
    opacity: 0;
    transition: 0.3s;
}

.c-master-class .master-link:hover p{
    opacity: 1;
    transform: translateY(-5px);
}

.c-master-class .cx-module-toggle{padding: 0 5px;}
.c-master-class .salesmen-module-toggle{padding: 0 5px;}
.c-master-class .actions-module-toggle{padding: 0 5px;}
.c-master-class .coach-module-toggle{padding: 0 5px;}

.c-master-class .master-link:hover{
    background: #fafafa;
}

.c-master-class .master-link:last-child{
    border-right: none;
}

.icon.gold {
     color: gold;
}

.icon.red {
    color: red;
}

.icon.green {
    color: green;
}
.mastery>.message {
    padding-top: 10px;
    font-size: 12px;
    margin-left: 40px;
}

.mastery>.learn-more {
    color: #999;
    float: right;
}

.c-bubbles {
    position: absolute;
    top: 80px;
    right: 15px;
    width: 70px;
    text-align: center;
}

.c-bubble {
    font-size: 24px;
    padding: 12px;
    text-align: center;
    background: #ffffff;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    margin: auto;
    width: 50px;
    color: #1c262f;
    transition-duration: 0.5s;
    transition-property: 'background';
}

.c-bubble:hover {
    color: #fff;
    background: rgb(28, 38, 47);
}

.chart-container {
    margin: 15px;
}

.c-my-main-factors {
    padding: 15px;
}

.factors-category-title {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 10px;
}

.c-factor {
    height: 71px;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}

.c-factor>.left {
    width: 30%;
    float: left;
    background: #ddd;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    padding: 10px;
}

.c-factor>.left>strong {
    font-size: 18px;
}

.c-factor>.left>p {
    font-size: 12px;
    word-break: break-word;
}

.c-factor>.right {
    padding: 5px;
    padding-top: 8%;
    margin-left: 30%;
}

.c-factor .arrow-right {
    float: right;
    padding-right: 5px;
    transition: 0.5s;
}

.c-factor:hover .arrow-right {
    padding-right: 1px;
}

.c-bot-button{
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 999;
}

.c-bot-button button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    background: #ae276a;
    webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.c-bot-button button:focus{
    outline: none;
}

.c-bot-insight, .c-bot-tour{
    background: rgba(239, 239, 239, 0.8);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    position: absolute;
    width: 300px;
    bottom: 60px;
    right: 30px;
    z-index: 999;
}


.robot-avatar {
    float: left;
    padding-right: 10px;
}

.take-action-from-bot {
    margin-top: 10px;
}

.take-action-from-bot>a {
    color: #888;
    font-size: 11px;
    text-transform: uppercase;
}

.dashboard-landing{
    padding: 40px 20px;
}

.dashboard-landing h4{
    padding: 0 15px;
}

#healthPillars{
    position: relative;
    width: auto;
    text-align: left;
}

.pillar{
    padding: 8px 12px;
    background: #fafafa;
    border: 5px;
    border-radius: 6px;
    margin: 5px 0 0;
    min-height: 42px;
}

.pillar.toggled {
    background: #efefef;
}

.pillar>img{
    float: left;
    margin-right: 10px;
}

.pillar .pillar-collapse{
    height: 100px;
    padding: 2px 0;
    clear: left;
}

.pillar .cx-index-item{
    width: 31%;
    display: inline-block;
}

.pillar-bar {
    background: #eee;
    height: 6px;
    margin-bottom: -15px;
    margin-left: 34px;
}

.pill-bar-filled {
    height: inherit;
    background: #b1216a;
    animation-name: barAnimation;
    animation-duration: 1s;
}

.pillar-bar{
    position: relative;
    height: 8px;
    background: rgb(255, 0, 0);
    background: -moz-linear-gradient(to right, rgb(208, 35, 32) 0%, rgba(223,136,43,1) 70%, rgb(249, 206, 2) 80%, rgb(38, 130, 53) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(208, 35, 32)), color-stop(70%, rgba(223,136,43,1)), color-stop(80%, rgba(249, 206, 2)), color-stop(100%, rgba(38, 130, 53)));
    background: -webkit-linear-gradient(to right, rgb(208, 35, 32) 0%, rgba(223,136,43,1) 70%, rgb(249, 206, 2) 80%, rgb(38, 130, 53) 100%);
    background: -o-linear-gradient(to right, rgb(208, 35, 32) 0%1, rgba(223,136,43,1) 70%, rgb(249, 206, 2) 80%, rgb(38, 130, 53) 100%);
    background: -ms-linear-gradient(to right, rgb(208, 35, 32) 0%, rgba(223,136,43,1) 70%, rgb(249, 206, 2) 80%, rgb(38, 130, 53) 100%);
    background: linear-gradient(to right, rgb(208, 35, 32) 0%, rgba(223,136,43,1) 70%, rgb(249, 206, 2) 80%, rgb(38, 130, 53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d02522', endColorstr='#1b4c23', GradientType=1 );
}

.pillar-bar-filled{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #eee;
    animation: barAnimation 2s cubic-bezier(.51,.58,.53,1.09);
    width: 100%;
}

.pillar-bar:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    line-height: 31px;
}


@keyframes barAnimation {
    from {
        width: 100%;
    }

    to {

    }
}


.coach-module{
    padding: 25px 50px;
}

.coach-online-status.online {
    text-align: center;
    color: green;
}

.coach-welcome-message {
    font-size: 15pt;
    /* height: 125px; */
    margin-top: 20px;
}

.coach-avatar {
    max-width: 140px;
    margin: auto;
}

.faq-section ul {
    margin-top: 8px;
}

.c-close-module {
    color: #eee;
    margin: 10px 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.coach-module-toggle {
    cursor: pointer;
}

.coach-chat-message {
    margin: 10px 0px;
    clear: both;
}

.coach-common-topic {
    margin: 10px;
}
.coach-common-topic>.topic {
    background: #f3f3f3;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 13px;
    height: 130px;
    border: 3px solid #fff;
    transition: 0.5s;
    cursor: pointer;
}

.coach-common-topic>.topic:hover {
    background: rgb(28, 38, 47);
    color : #fff;
}
.coach-status-message {
    border: 1px solid #eee;
    padding: 5px;
    font-size: 12px;
    border-radius: 6px;
}

.coach-inbox {
    padding: 15px 5px;
    border: 3px solid #eee;
    margin-bottom: 15px;
    border-radius: 6px;
}

.coach-inbox>.folder {
    padding: 2px 10px;
}

.suggestion{
    padding: 15px;
    background: #fafafa;
    border-radius: 10px;
    margin-top: 5px;
}

.suggestion a{
    color: #ba256b;
    font-weight: bold;
    font-size: 12px;
}

.pinned:before{
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f0c6";
}


.action-plan-collapse{
    width: 30%;
    float: left;
}

#action-plan-window{
    border: 1px solid #eee;
    height: 350px;
}

#action-plan-window .input-group{
    float: left;
    padding-right: 5px;
    margin-top: 10px;
}

.coaches{
    height: 350px;
    border-left: 1px solid #eee;
    padding: 10px;
}

.status{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.status.open{
    background: #00a5f5;
}

[ng-click] {
    cursor: pointer;
}

.c-panel.ng-enter, 
.c-panel.ng-leave
{ 
    transition: 0.3s linear;
    position: relative;
    display: block;
} 
 
.c-panel.ng-enter.ng-enter-active, 
.c-panel.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.c-panel.ng-leave.ng-leave-active,
.c-panel.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.progress{
    height: 10px;
    border-radius: 10px !important;
}

.progress{
    margin: 14px 0 0 0;
}