.side-menu-toggle{
    float: left;
    padding: 20px 15px 0 5px;
    margin-left: 16px;
    color: #777;
}

.animated {
    animation-duration: 0.8s;
}

.scrollable-container{
    overflow-y: scroll;
    height: 90%;
    margin-top: -20px;
}

.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;

    i {
        color: #fff;
    }
}

.notification-counter {
    position: absolute;
    top: -2px;
    left: 12px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

#mainFactors{
    display: none;
}


@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-10px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-10px);}
    60% {-moz-transform: translateY(-10px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-10px);}
    60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}

.rotate {
    transform: rotate(-180deg);
}
.rotate2 {
    transform: rotate(0deg);
}

/*.bounce:hover{
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   -o-animation: bounce 2s infinite;
}*/

.arrow-down{
    height: 230px;
    margin-top: -150px;
    padding-top: 180px;
    position: relative;
}

.arrow-up{
    text-align: center;
    margin-top: -15px;
}

.notif-count{
    position: relative;
    top: 6px;
    right: 8px;
    background: #ae276a;
    color: #fff;
    border-radius: 100%;
    padding: 2px 6px;
    margin-right: -5px;
    font-size: 12px;
}

.notif-label{
    padding: 15px 10px 0px 10px;
    color: #999;
    font-size: 10px;
}

.notif-container{
    width: 320px;
    padding: 0;
}

.notif{
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.notif:last-child{border:none !important;}

.btn-psa{
    margin-bottom: 10px;
    background: #1c2133;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-size: 10px;
}

.btn-psa:focus, .btn-psa:hover{
    color: #fff !important;
}

.psa-group-btn{
    height: 60px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
}

.psa-group-btn button{
    background: transparent;
}

.psa-group-input{
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 60px;
    padding: 5px 10px;
}

.psa-group-input small{
    color: #999;
}

.psa-table>thead>tr>th{
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    color: #435a6f;
    font-weight: bold;
}

.psa-table>tbody>tr>td{
    line-height: 2;
}

.psa-table>tbody>tr:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    background: #fafafa;
    cursor: pointer;
}

.overall-health-row{
    padding: 0;
}

/**media queries**/
@media only screen and (max-width: 1024px){
    #healthPillars{
        position: initial;
    }

    .c-main-health .gauge, .c-main-health .gauge-text{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .c-main-health .gauge-text-right{
        text-align: center;
        margin-top: -20px;
        padding: 0;
    }

    .c-main-health .gauge-text-right .toggle-pillars{
        display: none;
    }

    .c-main-health .title{
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px){
    .navbar-header{
        margin-top: 10px;
        height: 50px;
    }

    .c-top-bar .title{
        margin-top: 0;
    }

    .c-top-bar .navbar-nav{
        margin-top: 0px;
    }

    .c-side-menu{
        display: none;
    }

    .c-main{
        margin-left: 0;
        background: #fff;
    }

    .c-panel{
        box-shadow: none;
    }

    .c-content{
        margin-top: 0;
    }

    .c-main-health{
        width: 100%;
    }

    .c-main-health-inner{
        margin-bottom: 30px;
    }

    .c-master-class{
        width: 100%;
        margin: 0 -5px;
    }

    .c-master-class .master-link{
        box-shadow: none;
    }

    #healthPillars{
        margin-left: 0;
        clear: both;
        position: initial;
    }

    .navbar-collapse{
        display: inline-block;
        right: 0;
        top: 0;
        position: absolute;
        border-top: 0;
    }

    .nav>li{
        display: inline-block;
    }
}

@media only screen and (max-width: 480px){
    .c-top-bar .title small{
        display: none;
    }

    .c-top-bar .title{
        margin-top: 11px;
    }

    .coach-module{
        padding: 0;
    }

    .coach-module-toggle img{
        width: 80px;
        margin: 15px;
    }

    .c-master-class .master-link img{
        width: 100%;
        margin-top: 30px;
    }

    #healthPillars .pillar .cx-index-item{
        width: 100%;
    }

    #healthPillars .pillar .pillar-collapse{
        height: auto;
    }

    .actions-module{
        margin: 0;
    }

    .c-panel-back{
        display: inline-block;
    }
}

@media only screen and (max-width: 320px){
    body{
        zoom: 0.9;
    }
}
