.suggestions {
  position: relative;
  padding: 20px;
}

.suggestions .ta-bind, 
.suggestions .ta-editor.ta-html, .ta-scroll-window.form-control{
	min-height: 100px;
	border-radius: 0;
}

.suggestions .btn-toolbar{
	margin-left: 0;
	background: #ecf0f1;
    border: 1px solid #dddddd;
    border-bottom: none;
}

.suggestions .btn-toolbar>.btn-group{
	margin-left: 0;
}

.suggestions .btn-toolbar .btn{
	border-radius: 0 !important;
}

.condition-toolbar{
	margin-bottom: 3px;
}

.condition-toolbar>button{
	margin-right: 2px;
}

#condition-container{
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 3px;
}

.condition-item{
    border: 1px solid #ddd;
    height: 24px;
    margin: 4px 1px;
    padding: 0 6px;
}

input.condition-item{
	width: 50px;
}

button.condition-item{
	padding: 0 10px;
	background: #ebebeb;
	border: none;
}