#newActionPlan .modal-header{
    background: #19222a;
    color: #fff;
    text-align: center;
    padding: 35px;
    height: 100px;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin: -15px auto;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #3c5164;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    background-image: none !important;
    border: none;
    border-radius: 100px;
}

.btn-primary{
    background: #3c5164 !important;
    text-shadow: none;
    box-shadow: none;
}

.btn[disabled]{
    opacity: 1;
}

.setup-content{
    width: 80%;
    margin: 0 auto;
    min-height: 350px;
    text-align: center;
}

#step-1 .choice{
    padding: 30px;
    width: 80px;
    height: 80px;
    margin: 50px 10px;
    display: inline-block;
    cursor: pointer;
}

.choice:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.choice.selected{
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9);
}

#step-1 .choice a{color: #fff;}

#step-1 .choice-strength{background: #24983c}
#step-1 .choice-improve{background: #f19a1d}
#step-1 .choice-weakness{background: #ea3037}

#step-2 .choice{
    min-width: 120px;
    background: #fafafa;
    display: inline-block;
    padding: 0px 8px 5px;
    border-radius: 100px;
    margin: 5px 2px;
    cursor: pointer;
}

#step-2 .choice span{
    position: relative;
    top: -8px;
    margin: 0 5px;
    font-size: 12px;
} 

#step-2 .cx-step-icon{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: inline-block;
}

#step-2 .negative .cx-step-icon{
    background: #cb1a21;
    border: 4px solid #ea3037;
}

#step-2 .cx-step-icon img{
    width: 15px;
    height: auto;
    margin-top: -10px;
}

#step-3 .choice{
    display: inline-block;
    background: #fafafa;
    padding: 30px;
    margin-top: 60px;
}

.form-footer{
    position: absolute;
    width: 80%;
    bottom: 30px;
}

.action-plan-item{
    border: 1px solid #eee;
    padding: 0;
    min-height: 250px;
}

.action-plan-item.empty{
    border: 2px dashed #eee;
    text-align: center;
    padding-top: 40px;
    color: #999;
    font-size: 30px;
}

.action-plan-item.empty:hover{
    cursor: pointer;
    background: #fafafa;
}

.action-plan-content{
    padding: 10px 15px;
}

.action-plan-content h5{
    color: #999;
}

.action-plan-footer{
    text-align: center;
    height: 50px;
    padding: 15px 0;
    background: #e1e1e1;
    position: relative;
    bottom: 0;
    width: 100%;
}

.cx-index-item.action-plan-badge{
    box-shadow: none;
    padding: 0;
    margin: 18px 0 20px;
}