<ol class="breadcrumb">
  	<li><a ui-sref="suggestions"><i class="glyphicon glyphicon-dashboard"></i> Suggestions</a></li>
</ol>

<div class="c-panel">
	<div class="suggestions">
		<div class="form row">
            <div class="col-md-5">
            	<div class="form-group">
	                <label for="itemKpi">KPI</label>
	                <select class="form-control" id="itemKpi">
	                	<option>Select KPI</option>
                        <option value="compliance_all">compliance_all (compliance_all)</option>
                        <option value="employees_all">employees_all (employees_all)</option>
                        <option value="customers_all">customers_all (customers_all)</option>
                        <option value="overall_all">overall_all (overall_all)</option>
                        <option value="cj_brand_vn">cj_brand_vn (cj_brand_vn)</option>
                        <option value="cj_caring_vn">cj_caring_vn (cj_caring_vn)</option>
                        <option value="cj_internet_vn">cj_internet_vn (cj_internet_vn)</option>
                        <option value="cj_welcoming_vn">cj_welcoming_vn (cj_welcoming_vn)</option>
                        <option value="cj_discovering_vn">cj_discovering_vn (cj_discovering_vn)</option>
                        <option value="cj_testdrive_vn">cj_testdrive_vn (cj_testdrive_vn)</option>
                        <option value="cj_negotiate_vn">cj_negotiate_vn (cj_negotiate_vn)</option>
                        <option value="cj_waitdelivery_vn">cj_waitdelivery_vn (cj_waitdelivery_vn)</option>
                        <option value="cj_handover_vn">cj_handover_vn (cj_handover_vn)</option>
                        <option value="cj_followup_vn">cj_followup_vn (cj_followup_vn)</option>
                        <option value="cj_managing_vn">cj_managing_vn (cj_managing_vn)</option>
                        <option value="cj_b2b_vn">cj_b2b_vn (cj_b2b_vn)</option>
                        <option value="cj_evaluate_vn">cj_evaluate_vn (cj_evaluate_vn)</option>
                        <option value="cj_customercare_vn">cj_customercare_vn (cj_customercare_vn)</option>
                        <option value="cj_hotalerts_vn">cj_hotalerts_vn (cj_hotalerts_vn)</option>
                        <option value="cj_reviewservice_vn">cj_reviewservice_vn (cj_reviewservice_vn)</option>
                        <option value="cj_reviewproduct_vn">cj_reviewproduct_vn (cj_reviewproduct_vn)</option>
                        <option value="cj_verbatim_vn">cj_verbatim_vn (cj_verbatim_vn)</option>
                        <option value="cj_global_vn">cj_global_vn (cj_global_vn)</option>
                        <option value="cj_renumeration_vn">cj_renumeration_vn (cj_renumeration_vn)</option>
                        <option value="cj_brand_apv">cj_brand_apv (cj_brand_apv)</option>
                        <option value="cj_accueiltel_apv">cj_accueiltel_apv (cj_accueiltel_apv)</option>
                        <option value="cj_caring_apv">cj_caring_apv (cj_caring_apv)</option>
                        <option value="cj_knowledge_apv">cj_knowledge_apv (cj_knowledge_apv)</option>
                        <option value="cj_internet_apv">cj_internet_apv (cj_internet_apv)</option>
                        <option value="cj_welcoming_apv">cj_welcoming_apv (cj_welcoming_apv)</option>
                        <option value="cj_discover_apv">cj_discover_apv (cj_discover_apv)</option>
                        <option value="cj_handover_apv">cj_handover_apv (cj_handover_apv)</option>
                        <option value="cj_followup_apv">cj_followup_apv (cj_followup_apv)</option>
                        <option value="cj_warranty_apv">cj_warranty_apv (cj_warranty_apv)</option>
                        <option value="cj_availabitliy_apv">cj_availabitliy_apv (cj_availabitliy_apv)</option>
                        <option value="cj_managing_apv">cj_managing_apv (cj_managing_apv)</option>
                        <option value="cj_evaluate_apv">cj_evaluate_apv (cj_evaluate_apv)</option>
                        <option value="cj_customercare_apv">cj_customercare_apv (cj_customercare_apv)</option>
                        <option value="cj_hotalerts_apv">cj_hotalerts_apv (cj_hotalerts_apv)</option>
                        <option value="cj_reviewservice_apv">cj_reviewservice_apv (cj_reviewservice_apv)</option>
                        <option value="cj_reviewproduct_apv">cj_reviewproduct_apv (cj_reviewproduct_apv)</option>
                        <option value="cj_verbatim_apv">cj_verbatim_apv (cj_verbatim_apv)</option>
                        <option value="cj_global_apv">cj_global_apv (cj_global_apv)</option>
                        <option value="cj_renumeration_apv">cj_renumeration_apv (cj_renumeration_apv)</option>
                        <option value="compliance_vn">compliance_vn (compliance_vn)</option>
                        <option value="compliance_apv">compliance_apv (compliance_apv)</option>
                        <option value="employees_vn">employees_vn (employees_vn)</option>
                        <option value="employees_apv">employees_apv (employees_apv)</option>
                        <option value="customers_vn">customers_vn (customers_vn)</option>
                        <option value="customers_apv">customers_apv (customers_apv)</option>
                        <option value="compliance_cj_brand_vn">compliance_cj_brand_vn (compliance_cj_brand_vn)</option>
                        <option value="employees_cj_brand_vn">employees_cj_brand_vn (employees_cj_brand_vn)</option>
                        <option value="customers_cj_brand_vn">customers_cj_brand_vn (customers_cj_brand_vn)</option>
                        <option value="compliance_cj_caring_vn">compliance_cj_caring_vn (compliance_cj_caring_vn)</option>
                        <option value="employees_cj_caring_vn">employees_cj_caring_vn (employees_cj_caring_vn)</option>
                        <option value="customers_cj_caring_vn">customers_cj_caring_vn (customers_cj_caring_vn)</option>
                        <option value="compliance_cj_internet_vn">compliance_cj_internet_vn (compliance_cj_internet_vn)</option>
                        <option value="employees_cj_internet_vn">employees_cj_internet_vn (employees_cj_internet_vn)</option>
                        <option value="customers_cj_internet_vn">customers_cj_internet_vn (customers_cj_internet_vn)</option>
                        <option value="compliance_cj_welcoming_vn">compliance_cj_welcoming_vn (compliance_cj_welcoming_vn)</option>
                        <option value="employees_cj_welcoming_vn">employees_cj_welcoming_vn (employees_cj_welcoming_vn)</option>
                        <option value="customers_cj_welcoming_vn">customers_cj_welcoming_vn (customers_cj_welcoming_vn)</option>
                        <option value="compliance_cj_discovering_vn">compliance_cj_discovering_vn (compliance_cj_discovering_vn)</option>
                        <option value="employees_cj_discovering_vn">employees_cj_discovering_vn (employees_cj_discovering_vn)</option>
                        <option value="customers_cj_discovering_vn">customers_cj_discovering_vn (customers_cj_discovering_vn)</option>
                        <option value="compliance_cj_testdrive_vn">compliance_cj_testdrive_vn (compliance_cj_testdrive_vn)</option>
                        <option value="employees_cj_testdrive_vn">employees_cj_testdrive_vn (employees_cj_testdrive_vn)</option>
                        <option value="customers_cj_testdrive_vn">customers_cj_testdrive_vn (customers_cj_testdrive_vn)</option>
                        <option value="compliance_cj_negotiate_vn">compliance_cj_negotiate_vn (compliance_cj_negotiate_vn)</option>
                        <option value="employees_cj_negotiate_vn">employees_cj_negotiate_vn (employees_cj_negotiate_vn)</option>
                        <option value="customers_cj_negotiate_vn">customers_cj_negotiate_vn (customers_cj_negotiate_vn)</option>
                        <option value="compliance_cj_waitdelivery_vn">compliance_cj_waitdelivery_vn (compliance_cj_waitdelivery_vn)</option>
                        <option value="employees_cj_waitdelivery_vn">employees_cj_waitdelivery_vn (employees_cj_waitdelivery_vn)</option>
                        <option value="customers_cj_waitdelivery_vn">customers_cj_waitdelivery_vn (customers_cj_waitdelivery_vn)</option>
                        <option value="compliance_cj_handover_vn">compliance_cj_handover_vn (compliance_cj_handover_vn)</option>
                        <option value="employees_cj_handover_vn">employees_cj_handover_vn (employees_cj_handover_vn)</option>
                        <option value="customers_cj_handover_vn">customers_cj_handover_vn (customers_cj_handover_vn)</option>
                        <option value="compliance_cj_followup_vn">compliance_cj_followup_vn (compliance_cj_followup_vn)</option>
                        <option value="employees_cj_followup_vn">employees_cj_followup_vn (employees_cj_followup_vn)</option>
                        <option value="customers_cj_followup_vn">customers_cj_followup_vn (customers_cj_followup_vn)</option>
                        <option value="compliance_cj_managing_vn">compliance_cj_managing_vn (compliance_cj_managing_vn)</option>
                        <option value="employees_cj_managing_vn">employees_cj_managing_vn (employees_cj_managing_vn)</option>
                        <option value="customers_cj_managing_vn">customers_cj_managing_vn (customers_cj_managing_vn)</option>
                        <option value="compliance_cj_b2b_vn">compliance_cj_b2b_vn (compliance_cj_b2b_vn)</option>
                        <option value="employees_cj_b2b_vn">employees_cj_b2b_vn (employees_cj_b2b_vn)</option>
                        <option value="customers_cj_b2b_vn">customers_cj_b2b_vn (customers_cj_b2b_vn)</option>
                        <option value="compliance_cj_evaluate_vn">compliance_cj_evaluate_vn (compliance_cj_evaluate_vn)</option>
                        <option value="employees_cj_evaluate_vn">employees_cj_evaluate_vn (employees_cj_evaluate_vn)</option>
                        <option value="customers_cj_evaluate_vn">customers_cj_evaluate_vn (customers_cj_evaluate_vn)</option>
                        <option value="compliance_cj_customercare_vn">compliance_cj_customercare_vn (compliance_cj_customercare_vn)</option>
                        <option value="employees_cj_customercare_vn">employees_cj_customercare_vn (employees_cj_customercare_vn)</option>
                        <option value="customers_cj_customercare_vn">customers_cj_customercare_vn (customers_cj_customercare_vn)</option>
                        <option value="compliance_cj_hotalerts_vn">compliance_cj_hotalerts_vn (compliance_cj_hotalerts_vn)</option>
                        <option value="employees_cj_hotalerts_vn">employees_cj_hotalerts_vn (employees_cj_hotalerts_vn)</option>
                        <option value="customers_cj_hotalerts_vn">customers_cj_hotalerts_vn (customers_cj_hotalerts_vn)</option>
                        <option value="compliance_cj_reviewservice_vn">compliance_cj_reviewservice_vn (compliance_cj_reviewservice_vn)</option>
                        <option value="employees_cj_reviewservice_vn">employees_cj_reviewservice_vn (employees_cj_reviewservice_vn)</option>
                        <option value="customers_cj_reviewservice_vn">customers_cj_reviewservice_vn (customers_cj_reviewservice_vn)</option>
                        <option value="compliance_cj_reviewproduct_vn">compliance_cj_reviewproduct_vn (compliance_cj_reviewproduct_vn)</option>
                        <option value="employees_cj_reviewproduct_vn">employees_cj_reviewproduct_vn (employees_cj_reviewproduct_vn)</option>
                        <option value="customers_cj_reviewproduct_vn">customers_cj_reviewproduct_vn (customers_cj_reviewproduct_vn)</option>
                        <option value="compliance_cj_verbatim_vn">compliance_cj_verbatim_vn (compliance_cj_verbatim_vn)</option>
                        <option value="employees_cj_verbatim_vn">employees_cj_verbatim_vn (employees_cj_verbatim_vn)</option>
                        <option value="customers_cj_verbatim_vn">customers_cj_verbatim_vn (customers_cj_verbatim_vn)</option>
                        <option value="compliance_cj_global_vn">compliance_cj_global_vn (compliance_cj_global_vn)</option>
                        <option value="employees_cj_global_vn">employees_cj_global_vn (employees_cj_global_vn)</option>
                        <option value="customers_cj_global_vn">customers_cj_global_vn (customers_cj_global_vn)</option>
                        <option value="compliance_cj_renumeration_vn">compliance_cj_renumeration_vn (compliance_cj_renumeration_vn)</option>
                        <option value="employees_cj_renumeration_vn">employees_cj_renumeration_vn (employees_cj_renumeration_vn)</option>
                        <option value="customers_cj_renumeration_vn">customers_cj_renumeration_vn (customers_cj_renumeration_vn)</option>
                        <option value="compliance_cj_brand_apv">compliance_cj_brand_apv (compliance_cj_brand_apv)</option>
                        <option value="employees_cj_brand_apv">employees_cj_brand_apv (employees_cj_brand_apv)</option>
                        <option value="customers_cj_brand_apv">customers_cj_brand_apv (customers_cj_brand_apv)</option>
                        <option value="compliance_cj_accueiltel_apv">compliance_cj_accueiltel_apv (compliance_cj_accueiltel_apv)</option>
                        <option value="employees_cj_accueiltel_apv">employees_cj_accueiltel_apv (employees_cj_accueiltel_apv)</option>
                        <option value="customers_cj_accueiltel_apv">customers_cj_accueiltel_apv (customers_cj_accueiltel_apv)</option>
                        <option value="compliance_cj_caring_apv">compliance_cj_caring_apv (compliance_cj_caring_apv)</option>
                        <option value="employees_cj_caring_apv">employees_cj_caring_apv (employees_cj_caring_apv)</option>
                        <option value="customers_cj_caring_apv">customers_cj_caring_apv (customers_cj_caring_apv)</option>
                        <option value="compliance_cj_knowledge_apv">compliance_cj_knowledge_apv (compliance_cj_knowledge_apv)</option>
                        <option value="employees_cj_knowledge_apv">employees_cj_knowledge_apv (employees_cj_knowledge_apv)</option>
                        <option value="customers_cj_knowledge_apv">customers_cj_knowledge_apv (customers_cj_knowledge_apv)</option>
                        <option value="compliance_cj_internet_apv">compliance_cj_internet_apv (compliance_cj_internet_apv)</option>
                        <option value="employees_cj_internet_apv">employees_cj_internet_apv (employees_cj_internet_apv)</option>
                        <option value="customers_cj_internet_apv">customers_cj_internet_apv (customers_cj_internet_apv)</option>
                        <option value="compliance_cj_welcoming_apv">compliance_cj_welcoming_apv (compliance_cj_welcoming_apv)</option>
                        <option value="employees_cj_welcoming_apv">employees_cj_welcoming_apv (employees_cj_welcoming_apv)</option>
                        <option value="customers_cj_welcoming_apv">customers_cj_welcoming_apv (customers_cj_welcoming_apv)</option>
                        <option value="compliance_cj_discover_apv">compliance_cj_discover_apv (compliance_cj_discover_apv)</option>
                        <option value="employees_cj_discover_apv">employees_cj_discover_apv (employees_cj_discover_apv)</option>
                        <option value="customers_cj_discover_apv">customers_cj_discover_apv (customers_cj_discover_apv)</option>
                        <option value="compliance_cj_handover_apv">compliance_cj_handover_apv (compliance_cj_handover_apv)</option>
                        <option value="employees_cj_handover_apv">employees_cj_handover_apv (employees_cj_handover_apv)</option>
                        <option value="customers_cj_handover_apv">customers_cj_handover_apv (customers_cj_handover_apv)</option>
                        <option value="compliance_cj_followup_apv">compliance_cj_followup_apv (compliance_cj_followup_apv)</option>
                        <option value="employees_cj_followup_apv">employees_cj_followup_apv (employees_cj_followup_apv)</option>
                        <option value="customers_cj_followup_apv">customers_cj_followup_apv (customers_cj_followup_apv)</option>
                        <option value="compliance_cj_warranty_apv">compliance_cj_warranty_apv (compliance_cj_warranty_apv)</option>
                        <option value="employees_cj_warranty_apv">employees_cj_warranty_apv (employees_cj_warranty_apv)</option>
                        <option value="customers_cj_warranty_apv">customers_cj_warranty_apv (customers_cj_warranty_apv)</option>
                        <option value="compliance_cj_availabitliy_apv">compliance_cj_availabitliy_apv (compliance_cj_availabitliy_apv)</option>
                        <option value="employees_cj_availabitliy_apv">employees_cj_availabitliy_apv (employees_cj_availabitliy_apv)</option>
                        <option value="customers_cj_availabitliy_apv">customers_cj_availabitliy_apv (customers_cj_availabitliy_apv)</option>
                        <option value="compliance_cj_managing_apv">compliance_cj_managing_apv (compliance_cj_managing_apv)</option>
                        <option value="employees_cj_managing_apv">employees_cj_managing_apv (employees_cj_managing_apv)</option>
                        <option value="customers_cj_managing_apv">customers_cj_managing_apv (customers_cj_managing_apv)</option>
                        <option value="compliance_cj_evaluate_apv">compliance_cj_evaluate_apv (compliance_cj_evaluate_apv)</option>
                        <option value="employees_cj_evaluate_apv">employees_cj_evaluate_apv (employees_cj_evaluate_apv)</option>
                        <option value="customers_cj_evaluate_apv">customers_cj_evaluate_apv (customers_cj_evaluate_apv)</option>
                        <option value="compliance_cj_customercare_apv">compliance_cj_customercare_apv (compliance_cj_customercare_apv)</option>
                        <option value="employees_cj_customercare_apv">employees_cj_customercare_apv (employees_cj_customercare_apv)</option>
                        <option value="customers_cj_customercare_apv">customers_cj_customercare_apv (customers_cj_customercare_apv)</option>
                        <option value="compliance_cj_hotalerts_apv">compliance_cj_hotalerts_apv (compliance_cj_hotalerts_apv)</option>
                        <option value="employees_cj_hotalerts_apv">employees_cj_hotalerts_apv (employees_cj_hotalerts_apv)</option>
                        <option value="customers_cj_hotalerts_apv">customers_cj_hotalerts_apv (customers_cj_hotalerts_apv)</option>
                        <option value="compliance_cj_reviewservice_apv">compliance_cj_reviewservice_apv (compliance_cj_reviewservice_apv)</option>
                        <option value="employees_cj_reviewservice_apv">employees_cj_reviewservice_apv (employees_cj_reviewservice_apv)</option>
                        <option value="customers_cj_reviewservice_apv">customers_cj_reviewservice_apv (customers_cj_reviewservice_apv)</option>
                        <option value="compliance_cj_reviewproduct_apv">compliance_cj_reviewproduct_apv (compliance_cj_reviewproduct_apv)</option>
                        <option value="employees_cj_reviewproduct_apv">employees_cj_reviewproduct_apv (employees_cj_reviewproduct_apv)</option>
                        <option value="customers_cj_reviewproduct_apv">customers_cj_reviewproduct_apv (customers_cj_reviewproduct_apv)</option>
                        <option value="compliance_cj_verbatim_apv">compliance_cj_verbatim_apv (compliance_cj_verbatim_apv)</option>
                        <option value="employees_cj_verbatim_apv">employees_cj_verbatim_apv (employees_cj_verbatim_apv)</option>
                        <option value="customers_cj_verbatim_apv">customers_cj_verbatim_apv (customers_cj_verbatim_apv)</option>
                        <option value="compliance_cj_global_apv">compliance_cj_global_apv (compliance_cj_global_apv)</option>
                        <option value="employees_cj_global_apv">employees_cj_global_apv (employees_cj_global_apv)</option>
                        <option value="customers_cj_global_apv">customers_cj_global_apv (customers_cj_global_apv)</option>
                        <option value="compliance_cj_renumeration_apv">compliance_cj_renumeration_apv (compliance_cj_renumeration_apv)</option>
                        <option value="employees_cj_renumeration_apv">employees_cj_renumeration_apv (employees_cj_renumeration_apv)</option>
                        <option value="customers_cj_renumeration_apv">customers_cj_renumeration_apv (customers_cj_renumeration_apv)</option>
                        <option value="overall_vn">overall_vn (overall_vn)</option>
                        <option value="overall_apv">overall_apv (overall_apv)</option>
                        <option value="vendor_eqc_vn_4_all_count">vendor_eqc_vn_4_all_count (vendor_eqc_vn_4_all_count)</option>
                        <option value="eqc_vn_4_qd15">eqc_vn_4_qd15 (eqc_vn_4_qd15)</option>
                        <option value="eqc_vn_4_qd18">eqc_vn_4_qd18 (eqc_vn_4_qd18)</option>
                        <option value="eqc_vn_4_qd24a">eqc_vn_4_qd24a (eqc_vn_4_qd24a)</option>
                        <option value="eqc_vn_4_qd5">eqc_vn_4_qd5 (eqc_vn_4_qd5)</option>
                        <option value="eqc_vn_4_qd14">eqc_vn_4_qd14 (eqc_vn_4_qd14)</option>
                        <option value="eqc_vn_4_qc14">eqc_vn_4_qc14 (eqc_vn_4_qc14)</option>
                        <option value="eqc_vn_4_qd29b">eqc_vn_4_qd29b (eqc_vn_4_qd29b)</option>
                        <option value="eqc_vn_4_qd26">eqc_vn_4_qd26 (eqc_vn_4_qd26)</option>
                        <option value="eqc_vn_4_qd7">eqc_vn_4_qd7 (eqc_vn_4_qd7)</option>
                        <option value="eqc_vn_4_qd27">eqc_vn_4_qd27 (eqc_vn_4_qd27)</option>
                        <option value="eqc_vn_4_qa1">eqc_vn_4_qa1 (eqc_vn_4_qa1)</option>
                        <option value="eqc_vn_4_qa31">eqc_vn_4_qa31 (eqc_vn_4_qa31)</option>
                        <option value="eqc_vn_4_qd2">eqc_vn_4_qd2 (eqc_vn_4_qd2)</option>
                        <option value="eqc_apv_5_q23">eqc_apv_5_q23 (eqc_apv_5_q23)</option>
                        <option value="eqc_apv_5_q11">eqc_apv_5_q11 (eqc_apv_5_q11)</option>
                        <option value="eqc_apv_5_qd10">eqc_apv_5_qd10 (eqc_apv_5_qd10)</option>
                        <option value="eqc_apv_5_qd11">eqc_apv_5_qd11 (eqc_apv_5_qd11)</option>
                        <option value="eqc_apv_5_qb24a">eqc_apv_5_qb24a (eqc_apv_5_qb24a)</option>
                        <option value="eqc_apv_5_q13">eqc_apv_5_q13 (eqc_apv_5_q13)</option>
                        <option value="eqc_apv_5_q13a">eqc_apv_5_q13a (eqc_apv_5_q13a)</option>
                        <option value="eqc_apv_5_q13b">eqc_apv_5_q13b (eqc_apv_5_q13b)</option>
                        <option value="eqc_apv_5_qa70">eqc_apv_5_qa70 (eqc_apv_5_qa70)</option>
                        <option value="eqc_apv_5_qc27">eqc_apv_5_qc27 (eqc_apv_5_qc27)</option>
                        <option value="eqc_apv_5_qc29">eqc_apv_5_qc29 (eqc_apv_5_qc29)</option>
                        <option value="eqc_apv_5_qd5">eqc_apv_5_qd5 (eqc_apv_5_qd5)</option>
                        <option value="eqc_apv_5_qd2">eqc_apv_5_qd2 (eqc_apv_5_qd2)</option>
                        <option value="eqc_apv_5_qa1">eqc_apv_5_qa1 (eqc_apv_5_qa1)</option>
                        <option value="eqc_apv_5_qa2">eqc_apv_5_qa2 (eqc_apv_5_qa2)</option>
                        <option value="eqc_apv_5_qa3">eqc_apv_5_qa3 (eqc_apv_5_qa3)</option>
                        <option value="eqc_apv_5_qa26">eqc_apv_5_qa26 (eqc_apv_5_qa26)</option>
                        <option value="eqc_apv_5_qa27">eqc_apv_5_qa27 (eqc_apv_5_qa27)</option>
                        <option value="eqc_apv_5_qc26">eqc_apv_5_qc26 (eqc_apv_5_qc26)</option>
                        <option value="eqc_apv_5_qd7">eqc_apv_5_qd7 (eqc_apv_5_qd7)</option>
                        <option value="vendor_eqc_vn_4_qa0">vendor_eqc_vn_4_qa0 (vendor_eqc_vn_4_qa0)</option>
                        <option value="vendor_eqc_vn_4_qa31">vendor_eqc_vn_4_qa31 (vendor_eqc_vn_4_qa31)</option>
                        <option value="vendor_eqc_vn_4_q15">vendor_eqc_vn_4_q15 (vendor_eqc_vn_4_q15)</option>
                        <option value="vendor_eqc_vn_4_qd14">vendor_eqc_vn_4_qd14 (vendor_eqc_vn_4_qd14)</option>
                        <option value="vendor_eqc_vn_4_qd18">vendor_eqc_vn_4_qd18 (vendor_eqc_vn_4_qd18)</option>
                        <option value="vendor_eqc_vn_4_qd26">vendor_eqc_vn_4_qd26 (vendor_eqc_vn_4_qd26)</option>
                        <option value="vendor_eqc_vn_4_qd27">vendor_eqc_vn_4_qd27 (vendor_eqc_vn_4_qd27)</option>
                        <option value="vendor_eqc_vn_4_qd7">vendor_eqc_vn_4_qd7 (vendor_eqc_vn_4_qd7)</option>
                        <option value="vendor_eqc_vn_4_qd29b">vendor_eqc_vn_4_qd29b (vendor_eqc_vn_4_qd29b)</option>
                        <option value="vendor_eqc_vn_4_qa0_high_count">vendor_eqc_vn_4_qa0_high_count (vendor_eqc_vn_4_qa0_high_count)</option>
                        <option value="vendor_eqc_vn_4_qa31_high_count">vendor_eqc_vn_4_qa31_high_count (vendor_eqc_vn_4_qa31_high_count)</option>
                        <option value="vendor_eqc_vn_4_q15_high_count">vendor_eqc_vn_4_q15_high_count (vendor_eqc_vn_4_q15_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd14_high_count">vendor_eqc_vn_4_qd14_high_count (vendor_eqc_vn_4_qd14_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd18_high_count">vendor_eqc_vn_4_qd18_high_count (vendor_eqc_vn_4_qd18_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd26_high_count">vendor_eqc_vn_4_qd26_high_count (vendor_eqc_vn_4_qd26_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd27_high_count">vendor_eqc_vn_4_qd27_high_count (vendor_eqc_vn_4_qd27_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd7_high_count">vendor_eqc_vn_4_qd7_high_count (vendor_eqc_vn_4_qd7_high_count)</option>
                        <option value="vendor_eqc_vn_4_qd29b_high_count">vendor_eqc_vn_4_qd29b_high_count (vendor_eqc_vn_4_qd29b_high_count)</option>
	                </select>
	            </div>
            </div>

            <div class="col-md-7">
            	<div class="form-group" style="margin-bottom:0;">
            		<label for="itemCondition">Condition</label>
	            	<div class="pull-right">
                              <label class="radio-inline">
                                    <input type="radio" name="optradio" ng-model="condition" value="existing">Existing
                              </label>
                              <label class="radio-inline">
                                    <input type="radio" name="optradio" ng-model="condition" value="new">New
                              </label>
	            	</div>
	            </div>

	            <div class="form-group" ng-show="condition == 'new'">
	            	<div id="condition-container"></div>
                        <div class="condition-toolbar pull-left">
	            		<button class="btn btn-primary btn-sm" ng-repeat="item in conditionItems" ng-click="clickToClone($event, 'condition-container')">{{item}}</button> 
		            </div>
                        <div class="pull-right">
                              <button class="btn btn-default btn-sm"><i class="fa fa-save"></i> Save</button>
                        </div>
            	</div>

            	<div class="form-group" ng-show="condition == 'existing'">
	                <select class="form-control">
                        <option>1 == 1</option>
	                	<option>compliance_all < 80 && employee_all > 90</option>
	                </select>
	            </div>
            </div>


            <div class="col-md-12">
            	<div class="form-group">
            		<label>Intro</label>
	            	<text-angular ng-model="introBox"></text-angular>
	            </div>

	            <div class="form-group">
            		<label>Items</label>
	            	<text-angular ng-model="itemBox"></text-angular>
	            </div>
                <button class="btn btn-default ng-scope" ng-click="vm.saveItem()" translate="">Save</button>
            </div>
        </div>
	</div>
</div>

