<ol class="breadcrumb">
  <li><a ui-sref="dash"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
  <li class="active">Action Plans</li>
</ol>

<a class="btn btn-primary pull-right" ng-click="createActionPlan()" ng-show="!showForm">
    <i class="fa fa-plus"></i> Create
</a>

<button class="btn btn-primary pull-right" ng-click="showForm=false" ng-show="showForm">
    <i class="fa fa-angle-left"></i>  Back to List 
</button>

<a class="c-panel-back" role="button" ui-sref="dash"><i class="fa"></i> back</a>

<div class="clearfix"></div>

<div class="actions-module">
    <table class="action-plan table table-responsive" ng-show="!showForm">
        <thead>
            <tr>
                <th width="40%">TITLE</th>
                <th width="28%">PARTICIPANTS</th>
                <th width="12%">DUE DATE</th>
                <th width="15%">PROGRESS</th>
                <th width="5%"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="ap in actionPlans" class="accordion">
                <td>
                    <a href="" ng-click="editActionPlan(ap.id)">{{ap.title}}</a>
                </td>
                <td>
                    <ul class="participant-list">
                        <li><img src="img/avatars/bear.png"></li>
                        <li><img src="img/avatars/lion.png"></li>
                        <li><img src="img/avatars/magician.png"></li>
                        <li><img src="img/avatars/monkey.png"></li>
                    </ul>
                </td>
                <td><p><i class="fa fa-clock-o"></i> {{ap.dueDate}}</p>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ap.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ap.progress}}%;">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown edit-action">
                      <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="">View</a></li>
                        <li><a href="">Delete</a></li>
                      </ul>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

</div>

<div ng-show="showForm" ng-include="'app2/dashboard/view/action-plan-form.html'"></div>

<div ng-show="showEdit" ng-include="'app2/dashboard/view/edit-action-plan.html'"></div>