<h4 class="pull-left">Coaching</h4>
<a class="c-panel-back" role="button" ui-sref="dash"><i class="fa"></i> back</a>
<div class="clearfix"></div>

<div class="c-panel">
    <div class="coach-module">
        <div class="row">
            <div class="col-md-2">
                <div class="coach-avatar">
                    <img src="img/psa-guy-2.png">
                </div>
            </div>
            <div class="col-md-10">
                <div class="coach-welcome-message">
                    <textarea class="form-control" placeholder="Ask me anything..."></textarea>
                </div>
                <div class="suggestion pinned">
                    Will be hosting seminar on July 28.
                </div>

                <div class="suggestion">
                    I need help to strengthen my weakness.
                </div>

                <div class="suggestion">
                    I need help to achive my goal. <a href="#">Click to select from ocurrent goal</a>
                </div>
            </div>
        </div>
    </div>
</div>
