<ol class="breadcrumb">
  <li><a ui-sref="dash"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
  <li class="active">Customer Journey</li>
</ol>

<div class="clearfix"></div>

<div class="c-panel">
    <div class="cx-module">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" ng-class="{'btn-primary': vm.tab=='newVehicle'}" ng-click="vm.setTab('newVehicle')">New Vehicle</button>
            <button class="btn btn-default" ng-class="{'btn-primary': vm.tab=='afterSales'}" ng-click="vm.setTab('afterSales')">After Sales</button>
        </div>
        <div class="cx-journey-container">
            <div class="cx-journey new-vehicle" ng-if="vm.tab == 'newVehicle'">
                <div ng-repeat="step in vm.steps.newVehicle" class="step-animated">
                    <reach-cx-journey-step step="step" index="$index" toggled="vm.isToggled($index)"><reach-cx-journey-step>
                </div>
            </div>

            <div class="cx-journey after-sales" ng-if="vm.tab == 'afterSales'">
                <div ng-repeat="step in vm.steps.afterSales" class="step-animated">
                    <reach-cx-journey-step step="step" index="$index" toggled="vm.isToggled($index)"><reach-cx-journey-step>
                </div>
            </div>

        </div>
<!--         <div class="cx-journey-decorator"><div>Customer Journey</div></div> -->
    </div>
</div>
