<div class="cx-step cx-step-one" ng-class="[step.status, 'step-index-'+index]">
    <div class="cx-step-icon">
        <img ng-if="index>0" ng-src="img/steps/{{step.short}}.png">
        <i ng-if="index==0" class="fa fa-lg fa-eye"></i>
    </div>
    <div class="cx-step-label"><strong>{{index + 1}}.</strong> <span ng-bind="step.label"></span></div>
<!-- <div class="cx-step-popup">
        <div class="cx-step-popup-close">
            <i class="fa fa-times"></i>
        </div>
        <strong ng-bind="step.label"></strong>
        <div class="clearfix"></div>


        <div class="cx-index-items">
            <div class="cx-index-item" ng-repeat="kpi in step.kpi" ng-class="[kpi.status]">
                <div class="index-health"><i class="fa fa-exclamation"></i></div>
                <div class="index-badges">
                    <i class="index-badge health"><i class="fa"></i></i>
                    <a href="#!/dash" uib-tooltip="Compliance index" class="index-badge"><img src="img/compliance.png" class="index-icon"></a>
                    <a href="#!/dash/ap" uib-tooltip="Action plans" class="index-badge"><i class="fa fa-flag"></i></a>

                </div>
                <div class="index-label">{{kpi.label}} <span class="index-score">{{kpi.score}} %</span></div>
            </div>
        </div>
    </div> -->
</div>

<div id="cxJourneyInfo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>SUMMARY: You scored less than 50% in <strong ng-bind="step.label | uppercase"></strong> which affects your overall health by 35%, see below recommentdation on how you can enhance your score:</p>

<!--                 <div class="panel-group" id="stepAccordion">
                    <div class="panel">
                        <a data-toggle="collapse" data-parent="#stepAccordion" data-target="#stepCollapseOne">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </a>
                        <div id="stepCollapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>Suggestion 1</li>
                                    <li>Suggestion 2</li>
                                    <li>Suggestion 3</li>
                                </ul>

                                <a onclick="window.location.href='#!/dash/ap'" data-dismiss="modal" class="take-action">Take action</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a data-toggle="collapse" data-parent="#stepAccordion" href="#stepCollapseTwo">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </a>
                        <div id="stepCollapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>Suggestion 1</li>
                                    <li>Suggestion 2</li>
                                    <li>Suggestion 3</li>
                                    <li>Suggestion 4</li>
                                    <li>Suggestion 5</li>
                                </ul>

                                <a href="" class="take-action">Take action</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <a data-toggle="collapse" data-parent="#stepAccordion" href="#stepCollapseThree">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                        </a>
                        <div id="stepCollapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="" class="take-action">Add action</a>
                            </div>
                        </div>
                    </div>

                </div> -->
                <p><span class="fa fa-info-circle"></span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                <p><span class="fa fa-info-circle"></span> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                <p><span class="fa fa-info-circle"></span> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>

                <p><span class="fa fa-info-circle"></span> Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>

                <p><span class="fa fa-info-circle"></span> Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>

                <p><span class="fa fa-info-circle"></span> Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
            </div>
        </div>
    </div>
</div>

<style>
    #cxJourneyInfo {
        color: #000;
        text-align: left;
    }

    .panel{
        box-shadow: none;
        color: #333;
    }

</style>
