<div class="dashboard-landing c-panel clearfix" ng-if="vm.state.current.name == 'dash'">
<!--     <h4 class="page-title">Dashboard</h4> -->
    
    <div class="col-md-5 col-lg-5 clearfix">
        <div class="c-main-health">
            <div class="c-main-health-inner" >
                <div class="gauge">
                    <img src="img/gauge2.png">
                </div>
                <div class="gauge-text">
                    <span class="score">{{vm.overallHealth}}%</span>
                    <p class="title">Overall Health</p>
                    <div class="arrow-down animated bounce toggle-pillars" ng-click="vm.togglePillars()">
                        <img src="img/arrow-down.png" ng-class="{'rotate':vm.showPillars}">
                    </div>
                </div>
                <!--<div class="know-more categories-toggle">
                    <span role="button" class="glyphicon glyphicon-eye-open"></span>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col-md-7 col-lg-7">
        <div class="c-master-class" ng-if="!vm.showPillars">
            <div class="col-md-6 col-sm-6 col-xs-6 cx-module-toggle" ui-sref=".cx" ng-click="vm.openCx()">
                <div class="master-link">
                    <img src="img/cx.png">
                    <p>Customer Journey</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 salesmen-module-toggle" ui-sref=".v" ng-click="vm.openCx()">
                <div class="master-link">
                    <img src="img/employees.png">
                    <p>Salesmen</p>
                </div>
            </div>

<!--        <div class="col-md-4 col-sm-4 col-xs-4 actions-module-toggle" ui-sref=".ap" ng-click="vm.openActionPlan()">
                <div class="master-link">
                    <img src="img/ap.png">
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 coach-module-toggle" ui-sref=".co" ng-click="vm.openCoaching()">
                <div class="master-link">
                    <img src="img/psa-guy.png">
                </div>
            </div> -->
        </div>

        <div class="pillar col-md-12 sterers"
            ng-repeat="pillar in vm.healthPillars"
            ng-class="[{'small': vm.pillarIsNotThis(pillar.label)}]" ng-if="vm.showPillars">
            <img ng-src="img/{{pillar.label}}.png" ng-click="vm.pillarModal(pillar.label)">
            <span ng-click="vm.pillarModal(pillar.label)">{{pillar.label | uppercase}}</span>
            <span class="pull-right">{{pillar.score}}%</span>
            <div class="pillar-bar">
                <div class="pillar-bar-filled" ng-style="{width: (100 - pillar.score) +'%'}"></div>
            </div>
        </div>
    </div>

</div>

<div ui-view></div>



<div id="pillarInfo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>SUMMARY: You scored less than 50% in <strong ng-bind="pillar.label | uppercase"></strong> INDEX which affects your overall health by 35%, see below recommentdation on how you can enhance your score:</p>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Your <strong>New Car Sales</strong> compliance score is 68%
                                <i class="pull-right fa fa-caret-square-o-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                
                            <div class="panel-group" id="newCarAccordion1">
                                <div class="panel cx-index-item positive">
                                    <a data-toggle="collapse" data-parent="#newCarAccordion1" href="#collapseTwoThree">
                                        Welcoming is <strong>82.5%</strong>

                                        <div class="index-badges">
                                            <i class="index-badge health"><i class="fa fa-wrench"></i></i>
                                            <a onclick="window.location.href='#!/dash/cx?step=4'" data-dismiss="modal" class="index-badge step-badge"><img src="img/steps/welcoming.png" class="index-icon" uib-tooltip="Welcoming"></a>
                                            <a uib-tooltip="Action plans" onclick="window.location.href='#!/dash/ap'" data-dismiss="modal" class="index-badge"><i class="fa fa-flag"></i></a>
                                        </div>
                                    </a>
                                    <div id="collapseTwoThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <ul>
                                                <li>Suggestion 1</li>
                                                <li>Suggestion 2</li>
                                                <li>Suggestion 3</li>
                                            </ul>

                                            <a onclick="window.location.href='#!/dash/ap'" data-dismiss="modal" class="take-action">Take action</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel cx-index-item negative">
                                    <a data-toggle="collapse" data-parent="#newCarAccordion1" href="#collapseTwoTwo">
                                        Brand Image and appearance is <strong>50.3%</strong>

                                        <div class="index-badges">
                                            <i class="index-badge health"><i class="fa fa-exclamation"></i></i>
                                            <a onclick="window.location.href='#!/dash/cx?step=1'" data-dismiss="modal" class="index-badge step-badge"><i class="index-icon fa fa-eye" uib-tooltip="Brand Image and appearance"></i></a>
                                            <a uib-tooltip="Action plans" href="#!/dash/ap" class="index-badge"><i class="fa fa-flag"></i></a>
                                        </div>
                                    </a>
                                    <div id="collapseTwoTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <ul>
                                                <li>Suggestion 1</li>
                                                <li>Suggestion 2</li>
                                                <li>Suggestion 3</li>
                                                <li>Suggestion 4</li>
                                                <li>Suggestion 5</li>
                                            </ul>

                                            <a href="" class="take-action">Take action</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel cx-index-item negative">
                                    <a data-toggle="collapse" data-parent="#newCarAccordion1" href="#collapseTwoOne">
                                        Discovering customer needs is <strong>29.4%</strong>

                                        <div class="index-badges">
                                            <i class="index-badge health"><i class="fa fa-exclamation"></i></i>
                                            <a onclick="window.location.href='#!/dash/cx?step=2'" data-dismiss="modal" class="index-badge step-badge"><img src="img/steps/discovering.png" class="index-icon" uib-tooltip="Discovering customer's needs"></a>
                                            <a uib-tooltip="Action plans" href="#!/dash/ap" class="index-badge"><i class="fa fa-flag"></i></a>
                                        </div>
                                    </a>
                                    <div id="collapseTwoOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>No available suggestions</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Your <strong>After Sales</strong> compliance score is 88%
                                <i class="pull-right fa fa-caret-square-o-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Click on <i class="fa fa-caret-square-o-down"></i> to get more information and suggestions</p>
            </div>
        </div>
    </div>
</div>

<style>
    a:hover, a:focus{
        text-decoration: none !important;
        font-weight: bold;
    }

    #pillarInfo .modal-body{
        padding: 25px;
    }

    #pillarInfo .panel-heading{
        background: #fafafa;
    }

    #pillarInfo .panel-default{
        border: none;
    }

    #pillarInfo .cx-index-item{
        display: inline-block;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid #eee;
        padding: 0;
        border-radius: 0;
    }

    #pillarInfo .cx-index-item a{
        vertical-align: middle;
        color: #333;
    }

    #pillarInfo .cx-index-item .index-badges{
        float: right;
    }

    #pillarInfo .cx-index-item .panel-collapse{
        border-top: 2px solid #eee;
        margin-top: 12px;
    }

    #pillarInfo .take-action{
        color: #b1216a !important;
        font-weight: bold;
    }

</style>