<h4 class="pull-left page-title">Edit action plan</h4>
<!-- <a class="c-panel-back" role="button" ui-sref="dash"><i class="fa"></i> back</a> -->

<button class="btn btn-primary pull-right" ng-click="showEdit=false">
    <i class="fa fa-angle-left"></i>  Back to List 
</button>

<div class="clearfix"></div>

<div class="row add-action-plan">
     <div class="col-md-7 col-lg-8" ng-repeat="ap in actionPlans"> 
        <div class="left-form clearfix">
            <button class="btn btn-default add-milestone" ng-click="openaddMilestoneModal()">Add milestone</button>
            <form>
                <div class="form-group col-lg-10 row">
                    <input type="text" class="form-control title" ng-model="ap.title" placeholder="What's the plan?">
                </div>

<!--                 <p ng-if="activeActionPlan.milestones.length < 1">Please add milestone...</p> -->

                <div class="milestone" ng-repeat="m in ap.milestones">
                    <span class="fa fa-circle milestone-marker"></span>
                    <span>{{m.title}}</span>
                    <small class="pull-right">{{m.endDate}}</small>

                    <div class="form-group action-item-list">
                        <div ng-repeat="i in m.items" class="action-item">
                            <p><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i> {{i.text}}
                               <a href="" ng-click="item.remove(m.items, i)" class="pull-right remove-action-item"><span class="fa fa-close"></span></a>
                            </p>    
                        </div>

                        <div class="input-group">
                            <input type="text" ng-model="m.newItem.text" class="form-control" placeholder="Add action item">
                            <a href="" ng-click="item.add(m.items, m.newItem)" class="input-group-addon">Add</a>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary submit-action-plan" ng-click="actionPlan.add(activeActionPlan)">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-md-5 col-lg-4">
        <div class="right-form clearfix">
            <form>
                <div class="form-group">
                    <label>People</label>
                    <input type="text" class="form-control" ng-model="action.assignee">
                    <ul class="people-list">
                        <li><img src="img/avatars/bear.png"></li>
                        <li><img src="img/avatars/lion.png"></li>
                        <li><img src="img/avatars/magician.png"></li>
                        <li><img src="img/avatars/monkey.png"></li>
                        <li><img src="img/avatars/woman.png"></li>
                        <li><img src="img/avatars/driver.png"></li>
                        <li><img src="img/avatars/magician2.png"></li>
                        <li><img src="img/avatars/woman2.png"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Progress</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        </div>
                    </div>
                </div>

<!--                 <div class="form-group col-lg-8 row">
                    <label>Due Date</label> 
                    <input class="form-control" data-provide="datepicker" ng-model="action.date">
                </div> -->

                <div class="form-group clearfix">
                    <label>Status</label>
                    <select class="form-control col-lg-6" ng-model="action.status" ng-init="action.status='open'">
                        <option value="open">Open</option>
                        <option value="in-progress">In progress</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Comment</label>
                    <textarea class="form-control" placeholder="Type your comment here, tag a person using @..."></textarea>

                    <div class="comments-list">
                        <div class="comment">
                            <img class="avatar" src="img/avatars/woman.png">
                            <p><strong>Jane Doe</strong> commented : Lorem ipsum dolor sit amet nonummy</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addMilestoneModal" tabindex="-1" role="dialog" aria-labelledby="addMilestoneModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addMilestoneModalLabel">Add milestone</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="newMilestone.title">
            </div>
            
            <div class="form-group">
                <label>Start date</label>
                <input class="form-control" data-provide="datepicker" ng-model="newMilestone.startDate">
            </div>

            <div class="form-group">
                <label>End date</label>
                <input class="form-control" data-provide="datepicker" ng-model="newMilestone.endDate">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addMilestone(newMilestone)" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>