<ol class="breadcrumb">
  <li><a ui-sref="dash"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
  <li class="active">Salesmen</li>
</ol>

<div class="clearfix"></div>

<div class="c-panel">
    <div class="vendors-module clearfix" vendors>
        <div class="clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="charts-container">
                    <div class="stats-bar">
                        <div class="stats-bar-label">
                            <h4 class="kpi">Global Satisfaction</h4>
                            <span>SALESMEN COMPARISON</span>
                        </div>

                        <div id="columnChart" class="vendor-chart" style="width: 110%; min-height: 300px;"></div>
                    </div>

                    <div class="stats-pie">
                        <div id="pieChart" class="vendor-chart" style="width: 500px; min-height: 500px;"></div>
                        <div class="stats-pie-label"><span>SALESMEN IMPACT</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stats clearfix">
            <h4 class="vendor-name">Delhaye (23 surveys)</h4>

            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="gloSat" class="stats-box active">
                    <h5>Global Satisfaction</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="gloSatScore">42%</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="recom" class="stats-box">
                    <h5>Recommendation</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="recomScore">31%</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="attitude" class="stats-box">
                    <h5>Attitude</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="attitudeScore">02%</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="competence" class="stats-box">
                    <h5>Competence</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="competenceScore">80%</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="delivery" class="stats-box">
                    <h5>Delivery on time</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="deliveryScore">20%</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div id="accidents" class="stats-box">
                    <h5>Accidents on delivery</h5>
                    <div class="half-gauge">
                        <img src="img/halfgauge.png" class="img-responsive">
                    </div>
                    <p class="percent-field" style="margin-top: 5px;" id="accidentsScore">28%</p>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="salesman-info">
                    <div class="below-paragraphs Delhaye">
                        <div class="person-profile">
                            <div class="field">
                                <strong>DOCED: </strong>
                                <span> DA5073</span>
                            </div>
                            <div class="field">
                                <strong>Vendor Code: </strong>
                                <span> M50</span>
                            </div>
                            <div class="field">
                                <strong>Function: </strong>
                                <span>VN - CCVN (Vendeur JUNIOR)</span>
                            </div>
                        </div>

                        <div class="trainings">
                            <div class="title">Trainings</div>
                            <div class="training">
                                <div class="date">01/06/2017 08:30 to 01/06/2017 17:00 (Completed)</div>
                                <div class="name">APFC101 - New 5008 &amp; Services Connectés </div>
                            </div>
                            <div class="training">
                                <div class="date">17/10/2016 10:00 to 17/10/2016 18:00 (Completed) </div>
                                <div class="name">AP / FC 104 / New SUV Peugeot 3008 / Traveller</div>
                            </div>
                            <div class="training">
                                <div class="date">06/12/2016 09:00 to 06/12/2016 17:00 (Completed)</div>
                                <div class="name">AP / FC 107 / VU/VEL/Transfo VU </div>
                            </div>
                        </div>
                    </div>
                    <div class="below-paragraphs Roose">
                        <div class="person-profile">
                            <div class="field">
                                <strong>DOCED: </strong>
                                <span> DA06757</span>
                            </div>
                            <div class="field">
                                <strong>Vendor Code: </strong>
                                <span> M69 </span>
                            </div>
                            <div class="field">
                                <strong>Function: </strong>
                                <span>VN - CCVN (Vendeur Fleet)</span>
                            </div>
                        </div>
                        <div class="trainings">
                            <div class="title">Trainings</div>
                            <div class="training">
                                <div class="date">13/10/2016 09:30 to 13/10/2016 17:45 (Completed)</div>
                                <div class="name">AC / FAPVREC001 / Costumer fulfillment</div>
                            </div>
                            <div class="training">
                                <div class="date">22/06/2016 09:30 to 22/06/2016 17:45 (Completed) </div>
                                <div class="name">AC / FAPVREC002 / Actualisation APV1 : New Jumpy/C-Tourer/C-Elysée en e-Méhari</div>
                            </div>
                            <div class="training">
                                <div class="date">09/11/2016 08:30 to 09/11/2016 16:45 (Absent) </div>
                                <div class="name">AC / FAPVREC003 / Actualisation APV 2: New Citroën C3  New C4 Picasso  SpaceTourer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .vendors-module{
        padding: 25px 10px;
    }

    .vendors-name{
        margin-top: 0;
        margin-bottom: 0;
    }

    .stats-box{
        background: #fafafa;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center;
    }

    .stats-box.active{
        box-shadow: 0 0 7px #ddd;
    }

    .salesman-info{
        border-radius: 3px;
        margin-bottom: 15px;
        text-align: center;
        text-align: left;
    }

    #statsBar{
        margin-top: 15px;
    }

    #statsPie{
        margin-top: 15px;
        margin-bottom: 21px;
    }

    .half-gauge{
        background: #1e2336;
    }

    .person-profile>.fullname {
        font-size: 13pt;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .person-profile>.field {
        font-size: 11pt;
    }

    .filed>.name {
        color: rgb(28, 38, 47);
    }

    .trainings {
        margin-top: 15px;
    }

    .trainings>.title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .training {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .below-paragraphs.Roose{
        display: none;
    }

    .vendor-name{
        margin-left: 15px;
    }

    #columnChart{
        position: relative;
        left: -70px;
        top: -20px;
    }

    .stats-pie{
        display: inline-block;
        position: relative;
        width: 30%;
    }

    .stats-pie-label{
        width: 90px;
        height: 45px;
        position: absolute;
        top: 156px;
        left: 106px;
        text-align: center;
        cursor: default;
    }

    .stats-bar{
        display: inline-block;
        width: 68%;
        float: left;
    }

    .stats-bar-label{
        margin-left: 10px;
        margin-top: 20px;
    }

    .stats-bar-label h4{
        margin-bottom: 0;
    }

    #pieChart{
        position: relative;
        left: -100px;
        top: -80px;
    }

    .charts-container{
        background: #fafafa;
        height: 380px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px 10px;
    }
</style>