<ol class="breadcrumb">
  	<li><a ui-sref="helpdesk"><i class="glyphicon glyphicon-dashboard"></i> Help Desk</a></li>
</ol>

<div class="c-panel">
	<div class="helpdesk">
		<div class="helpdesk-search">
			<h1>Need help?</h1>
			<input/>
		</div>

		<ul class="helpdesk-categories">
			<li><h2 class="helpdesk-title">QUICK LINKS</h2></i>
			<li><a class="selected" href="" scroll-to="overview">Overview</a></li>
			<li><a href="" scroll-to="scores">KPIs and Scores</a></li>
			<li><a href="" scroll-to="faq">FAQ</a></li>
		</ul>

		<div class="helpdesk-items">
			<div id="overview" class="helpdesk-group">
				<h2 class="helpdesk-title">Overview</h2>

				<uib-accordion close-others="oneAtATime">
					<div uib-accordion-group class="helpdesk-trigger" heading="R.E.A.C.H (Raised Experience through Analysis, Commitment and Humanity)" is-open="status.open">
				      	<div class="helpdesk-content">
				      		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				      	</div>
				    </div>
				  </uib-accordion>
			</div>

			<div id="scores" class="helpdesk-group">
				<h2 class="helpdesk-title">KPIs and Scores</h2>

				<uib-accordion close-others="oneAtATime">
					<div uib-accordion-group class="helpdesk-trigger" heading="Overall Health">
				      	<div class="helpdesk-content">
				      		<p>Lorem Ipsum</p>
				      	</div>
				    </div>

				    <div uib-accordion-group class="helpdesk-trigger" heading="Health Indexes">
				      	<div class="helpdesk-content">
				      		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

				      		<p class="heading">COMPLIANCE</p>
				      		<p>Below are some of the questions that affects the compliance index:</p>
				      		<p class="sub-heading">NEW CARS</p>
				      		<ul class="questions">
				      			<li>Le hall "v&eacute;hicules neufs" &eacute;tait propre et rang&eacute;</li>
				      			<li>Les abords du point de vente respectent -t-ils les exigences de la Marque?</li>
				      			<li>Existe-t-il affichage descriptif du point de vente?</li>
				      			<li>Les espaces accessibles et visibles des clients sont-ils propres et rang&eacute;s?</li>
				      			<li>La communication est-elle &agrave; jour et positionn&eacute;e sur des supports conformes aux normes de la Marque?</li>
				      		</ul>

				      		<p class="sub-heading">AFTER SALES</p>
				      		<ul class="questions">
				      			<li>En arrivant dans le point de vente, y avait-il une signal&eacute;tique permettant d'identifier rapidement le service apr&egrave;s-vente?</li>
				      			<li>Le point de vente dispose-t-il d'un espace d'attente?</li>
				      			<li>L'espace d'accueil de la zone apr&egrave;s-vente est propre et rang&eacute;?</li>
				      			<li>Aspect g&eacute;n&eacute;ral de l'atelier du garage</li>
				      			<li>Aspect de la salle d'attente</li>
				      		</ul>

				      		<p class="heading">EMPLOYEE</p>
				      		<p>Below are some of the questions that affects the employee index:</p>
				      		<p class="sub-heading">NEW CARS</p>
				      		<ul class="questions">
				      			<li>Concernant l'apr&egrave;s-vente de mon v&eacute;hicule, le vendeur m'a parl&eacute;: (Des alertes entretien issues de l'application MyPeugeot ET des rdv en ligne / Aucun)</li>
				      			<li>Le vendeur vous a-t'il demand&eacute; si vous avez r&eacute;alis&eacute; une configuration sur le site Internet de la marque avant de venir &agrave; la concession?</li>
				      			<li>D&egrave;s votre arriv&eacute;e, le personnel vous a-t-il accueilli dans un d&eacute;lai inf&eacute;rieur &agrave; 3 minutes?</li>
				      			<li>Suite &agrave; votre prise de Rendez-vous, vous avez &eacute;t&eacute; accueilli par votre nom &agrave; l'accueil ou par le vendeur</li>
				      			<li>Le vendeur a &eacute;voqu&eacute; le d&eacute;roulement de l'entretien?</li>
				      		</ul>

				      		<p class="sub-heading">AFTER SALES</p>
				      		<ul class="questions">
								<li>La personne qui a d&eacute;croch&eacute; &eacute;tait-elle polie et agr&eacute;able ?</li>
				      			<li>L'interlocuteur(trice) vous a-t-il/elle fait pr&eacute;ciser le motif de votre appel?</li>
				      			<li>L'interlocuteur vous a questionn&eacute; sur les conditions d'apparition du dysfonctionnement?</li>
				      			<li>L'interlocuteur vous a demand&eacute; si ce dysfonctionnement avait d&eacute;j&agrave; fait l'objet d'une intervention?</li>
				      			<li>Vous a-t-on demand&eacute; vos donn&eacute;es personnelles : Nom, Num&eacute;ro de t&eacute;l&eacute;phone, adresse mail?</li>
				      		</ul>

				      		<p class="heading">FINANCIAL</p>
				      		<p>Below are some of the questions that affects the financial index:</p>
				      		<p class="sub-heading">NEW CARS</p>
				      		<ul class="questions">
				      		</ul>

				      		<p class="sub-heading">AFTER SALES</p>
				      		<ul class="questions">
				      		</ul>

				      		<p class="heading">CLIENT</p>
				      		<p>Below are some of the questions that affects the client index:</p>
				      		<p class="sub-heading">NEW CARS</p>
				      		<ul class="questions">
				      			<li>Comment jugeriez-vous la facilit&eacute; &agrave; obtenir, sur le site internet [Marque], les informations dont vous aviez besoin?</li>
				      			<li>La comp&eacute;tence professionnelle (connaissance du mod&egrave;le et de ses concurrents, solutions de financement propos&eacute;es, conseils, suivi de votre commande, accompagnement…)?</li>
				      			<li>Quelle note donneriez vous &agrave; la mise en main de votre v&eacute;hicule r&eacute;alis&eacute;e par votre interlocuteur?</li>
				      			<li>Quelles sont les principales raisons qui motivent votre note?</li>
				      			<li>Quelle note donneriez-vous &agrave; votre v&eacute;hicule dans son ensemble?</li>
				      		</ul>

				      		<p class="sub-heading">AFTER SALES</p>
				      		<ul class="questions">
				      			<li>Quelle note donneriez-vous &agrave; l'aspect int&eacute;rieur et extérieur en général de l'établissement (accessibilité, signalétique, propreté, confort...)?</li>
				      			<li>Avez-vous des remarques ou suggestions &agrave; faire &agrave; propos de l'aspect intérieur ou extérieur en général de l'établissement?</li>
				      			<li>Donnez votre impression sur l'état extérieur/intérieur du Service Apr&egrave;s-Vente.</li>
				      			<li>Votre impression sur la prise de rendez-vous téléphonique. Par rapport &agrave; votre impression sur la prise de rendez-vous, sur une échelle de 1 (le moins) &agrave; 10 (le plus), indiquez votre choix.</li>
				      			<li>Notez ici les commentaires par rapport &agrave; la note donnée dans la question précédente.</li>
				      		</ul>
				      	</div>
				    </div>

				    <div uib-accordion-group class="helpdesk-trigger" heading="Customer Journey">
				      	<div class="helpdesk-content">
				      		<p>Lorem Ipsum</p>
				      	</div>
				    </div>
				  </uib-accordion>
			</div>

			<div id="faq" class="helpdesk-group">
				<h2 class="helpdesk-title">FREQUENTLY ASKED QUESTIONS</h2>

				<uib-accordion close-others="oneAtATime">
					<div uib-accordion-group class="helpdesk-trigger" heading="Why?">
				      	<div class="helpdesk-content">
				      		<p>Lorem Ipsum</p>
				      	</div>
				    </div>
				  </uib-accordion>
			</div>
		</div> 
	</div>
</div>