<div robot>
    <div class="c-bot-button animated bounceInUp">
        <button type="button"><img src="img/bot.png"></button>
    </div>

    <div class="c-bot-insight animated bounce">
        <div class="insight-message">
            <b>Sam</b> : <span ng-bind="insight"></span>
        </div>

        <div class="take-action-from-bot">
            <a role="button" ng-click="markAs()">USEFUL</a>
            <span>or</span>
            <a role="button" ng-click="markAs()">NOT</a>
            ?
        </div>

        <div class="view-here">
            <a ui-sref="dash.ap">Click here to view.</a>
        </div>
    </div>

    <div class="c-bot-tour">
        <div ng-bind-html="currentTip.content">
            {{currentTip.currentTipDisplay}}
        </div>
        <button class="btn btn-default btn-sm" ng-click="previousTip()">Previous</button>
        <button class="btn btn-default btn-sm" ng-click="nextTip()">Next</button>

        <button class="btn btn-default btn-sm pull-right" ng-click="endTour()">End tour</button>
    </div>
</div>